<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="css/style.css"/>
    <script type="text/javascript" src="js/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="js/menu.js"></script>
</head>
<body>
    <div id="content">
        <div class="m-right">
            <div class="right-nav">
                <ul>
                    <li><img src="img/home.png"></li>
                    <li style="margin-left:25px;">您当前的位置：</li>
                    <li><a href="#">系统公告</a></li>
                    <li>></li>
                    <li><a href="#">最新公告</a></li>
                </ul>
            </div>
            <div class="main">
                <html>
                <a href="/registerView">注册</a>
                </html>
            </div>
        </div>
    </div>
</body>
</html>