<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="css/style.css"/>
    <script type="text/javascript" src="js/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="js/menu.js"></script>
</head>
<body>
    </div>
    <div class="bottom"></div>
    <div id="footer"><p>Copyright© 2015 版权所有 京ICP备05019125号-10 来源:<a href="http://www.mycodes.net/"
                                                                     target="_blank">源码之家</a></p></div>
</body>
</html>